{% extends '_nav_banner_modal.html' %}
{% load static %}
{% block content %}

  
<h1 style="white-space:nowrap;color:#0C324C;" class="mt-5">Step-by-Step Guide</h1>
<hr style="border-top: 1px solid #808080;">

  <!-- Neoantigen Identification -->
  <details>
    <summary style="font-size:170%;color:#10569d;margin-top:5%;"><b>Neoantigen Identification</b></summary>
    <div id="Neoantigen Identification">
      <hr style="border-color: #CCCCCC;">
      <p class="lead" style="font-size:150%">1. Enter NARWHAL: Click "Start Neoantigen".</p>
      <img id="#get-started" src="../static/guide-pics/1.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%; margin-top: 20px;">2. Choose Data Types: Select DNA-seq, RNA-seq, or both.</p>
      <img id="#get-started" src="../static/guide-pics/2.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">3. Enter Email: Provide your email address for notifications.</p>
      <img id="#get-started" src="../static/guide-pics/3.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">4. Upload Data: Upload all sequence data you would like to analyze.</p>
      <img id="#get-started" src="../static/guide-pics/4.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">Upload Data From Browser: Choose R1 or R2 files respectively, and click "start upload" to upload your data.</p>
      <img id="#get-started" src="../static/guide-pics/5.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">You may delete and re-upload data if necessary.</p>
      <img id="#get-started" src="../static/guide-pics/6.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">From URLs: Upload data from URLs. Using a share link from Google Drive is available.</p>
      <img id="#get-started" src="../static/guide-pics/7.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">5. Set parameters: Default parameters are pre-set.</p>
      <img id="#get-started" src="../static/guide-pics/8.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">Adjust Parameters: Modify if needed.</p>
      <img id="#get-started" src="../static/guide-pics/9.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">6. Upload LC-MS/MS Peptides: For validation, incorrect or missing LC-MS/MS file uploads will use the IEDB database as an alternative to generate aeTSA.</p>
      <img id="#get-started" src="../static/guide-pics/10.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">7. Agree to Privacy Statement and Submit the Task: Click "Submit" to start the analysis.</p>
      <img id="#get-started" src="../static/guide-pics/11.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">8. Task Submitted Successfully: Your task has been submitted.</p>
      <img id="#get-started" src="../static/guide-pics/12.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">9. Progress Tracking: Monitor the progress of your task.</p>
      <img id="#get-started" src="../static/guide-pics/13.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">10. Report: Download the final TSV files and intermediate files from the dashboard.</p>
      <img id="#get-started" src="../static/guide-pics/14.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
    </div>
  </details>

  <!-- HLA Genotyping -->
  <details>
    <summary style="font-size:170%;color:#10569d;margin-top:30px;"><b>HLA Genotyping</b></summary>
    <div id="HLA Genotyping">
      <hr style="border-color: #CCCCCC;">
      <p class="lead" style="font-size:150%">1. Enter HLA Genotyping: Click "Start HLA Genotyping".</p>
      <img id="#get-started" src="../static/guide-pics/15.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%; margin-top: 20px;">2. Enter Email: Provide your email address for notifications.</p>
      <img id="#get-started" src="../static/guide-pics/16.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">3. Choose Data Types: Select DNA-seq or RNA-seq.</p>
      <img id="#get-started" src="../static/guide-pics/17.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">4. Upload Data: Upload all sequence data you would like to analyze.</p>
      <img id="#get-started" src="../static/guide-pics/18.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">5. Agree to Privacy Statement and Submit the Task: Click "Submit" to start the analysis.</p>
      <img id="#get-started" src="../static/guide-pics/19.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">6. Task Submitted Successfully: Your task has been submitted.</p>
      <img id="#get-started" src="../static/guide-pics/20.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">7. Progress Tracking: Monitor the progress of your task.</p>
      <img id="#get-started" src="../static/guide-pics/21.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">8. Report: Download the final TSV files and QC files from the dashboard.</p>
      <img id="#get-started" src="../static/guide-pics/22.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
    </div>
  </details>

  <!-- Shared Neoantigen Discovery -->
  <details>
    <summary style="font-size:170%;color:#10569d;margin-top:30px;"><b>Shared Neoantigen Discovery</b></summary>
    <div id="HLA Genotyping">
      <hr style="border-color: #CCCCCC;">
      <p class="lead" style="font-size:150%">1. Enter Shared Neoantigen Discovery and Enter Email: Provide your email address for notifications.</p>
      <img id="#get-started" src="../static/guide-pics/23.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">2. Upload Data: Upload TSA TSV files from different samples.</p>
      <img id="#get-started" src="../static/guide-pics/24.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">You may delete and re-upload data if necessary.</p>
      <img id="#get-started" src="../static/guide-pics/25.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">Fill in each file's sample names and confirm them. Please ensure that the number of samples matches the number of sample names.</p>
      <img id="#get-started" src="../static/guide-pics/26.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">3. Select a Specific HLA Type: Select one HLA type presented in all samples.</p>
      <img id="#get-started" src="../static/guide-pics/27.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">4. Agree to Privacy Statement and Submit the Task: Click "Submit" to start the analysis.</p>
      <img id="#get-started" src="../static/guide-pics/28.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
      <p class="lead" style="font-size:150%">5. Report: Download the final TSV files and figures from the dashboard.</p>
      <img id="#get-started" src="../static/guide-pics/29.png" class="img-fluid mx-auto d-block" style="width: 800px; height: auto; margin-bottom: 30px;">
    </div>
  </details>

      


<!-- <!Help module> -->


{% endblock content %}

{% block script %}

<script>
function htmlDecode(input){
  var e = document.createElement('textarea');
  e.innerHTML = input;
  // handle case of empty input
  return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
}

window.onload = function(){
	encoded_mail_address = "&#100;&#48;&#48;&#57;&#52;&#53;&#48;&#48;&#54;&#64;&#110;&#116;&#117;&#46;&#101;&#100;&#117;&#46;&#116;&#119;";
	document.getElementById("contact_email").href = "mailto:"+htmlDecode(encoded_mail_address);
};
</script>

{% endblock script %}