{% extends '_nav_banner_modal.html' %}
{% load static %}

{% block content %}

    <h1 style="white-space:nowrap;font-size:220%;color:#0C324C;" class="mt-5">Pipeline Guide</h1>
    <p class="lead" style="font-size:130%">This pipeline can identify potential neoantigens by using three different types of input data.</p>
    <p class="lead" style="font-size:130%">You can choose different types of input data (DNA-seq/RNA-seq/LC-MASS)</p>

   
    <img id="#get-started" src="../static/image/pipeline_new_compressed.jpg" class="img-fluid">
 
    <h1 class="mt-5">How to cite NARWHAL?</h1>
    <p class="lead"></p>
  </div>
{% endblock content %}
