{% extends '_nav_banner_modal.html' %}
{% load static %}
{% block css %}
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link href="../static/css/csv.css" rel="stylesheet">{% endblock css %}
{% block content %}
<!-- Sidebar/menu -->
{% if success %}
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:250px;" id="mySidebar">
      <div class="w3-container">
        <h5>Dashboard</h5>
      </div>
      <div class="w3-bar-block" style="font-size:14px">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a href="#" class="w3-bar-item w3-button w3-padding" onclick="check_step(this.name)" name="summary_result"><img src="{% static 'vertical-timeline/img/glyphicons-30-notes-2.png' %}" height="14" width="15">  Overview</a>
        <a href="#" class="w3-bar-item w3-button w3-padding" onclick="check_step(this.name)" name="pred_result"><img src="{% static 'vertical-timeline/img/glyphicons-489-multiple-displays.png' %}" height="14" width="15">  Shared Neoantigens</a>
      </div>
    </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    <!-- !PAGE CONTENT! -->
    <div class="pipeline_result" id="summary_result">
        <div class="w3-main" style="margin-left:260px;margin-top:43px;">
          <header class="w3-container" style="padding-top:22px">
            <h4><b><img src="{% static 'vertical-timeline/img/glyphicons-30-notes-2.png' %}"> Overview</b></h4>
          </header>
          
          <div class="w3-row-padding w3-margin-bottom">
             <div class="w3-panel w3-border" style="width:90%;">
               <p><b>Congradulations! Your job has been completed successfully!</b></p>
               <p>The followings are details about your job and logs/results. Please click the left navigation panel to show results of each step.</p>
             </div>
          </div>
          <div class="w3-row-padding w3-margin-bottom" style="float:center">
            <h5>Information about your job:</h5>
            <table class="w3-table w3-striped w3-white" style="width:90%;">
                <tr>
                    <td width="30%">Job ID</td>
                    <td>{{task_id}}</td>
                </tr>
                <tr>
                    <td>Submission time</td>
                    <td>{{overview.submit_time}}</td>
                </tr>
                <tr>
                    <td>Start time</td>
                    <td>{{overview.start_time}}</td>
                </tr>
                <tr>
                    <td>End time</td>
                    <td>{{overview.end_time}}</td>
                </tr>
                <tr>
                    <td>Download shared neoantigens result (TSV format)</td>
                    <td>
                        <a class="w3-button w3-round-large w3-border w3-tiny" style="background-color:#d6efeb;font-size:16px" href="{% static ''%}/file-uploads-temp/{{task_id}}/shared/overlapped_shared_peptide_{{hla}}_summary.tsv" role="button">
                        Download  <i class="fa fa-arrow-down"></i>
                        </a>
                    </td>
                </tr>
            </table>
            <div id="piechart_3d" style="width: 900px; height: 200px;">
                </div> 
          </div>

        </div>
    </div>
    
    <!-- shared discovery -->
    <div class="pipeline_result" id="pred_result">
        <div class="w3-main" style="margin-left:260px;margin-top:43px;"> 
              <!-- Header -->
                <header class="w3-container" style="padding-top:22px">
                    <h4><b><img src="{% static 'vertical-timeline/img/glyphicons-489-multiple-displays.png' %}"> Shared Neoantigens</b></h4>
                </header>
                <div class="w3-panel w3-border" style="width:90%;">
                    <p><b>Shared Neoantigen Report</b></p>
                    <p>The following files are neoantigens shared in different samples in (1) TSV (2) clstr (3) log format.</p>
                </div>    
                <div id="tsv" class="w3-row-padding w3-margin-bottom">
                    <h5>Sumary Report (TSV file):&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="w3-button w3-round-large w3-border" style="background-color:#d6efeb;font-size:16px" href="{% static ''%}/file-uploads-temp/{{task_id}}/shared/overlapped_shared_peptide_{{hla}}_summary.tsv" role="button" target="_blank">
                            Download  <i class="fa fa-arrow-down"></i>
                        </a>
                    </h5>
                    <h5>Overlapped Peptide Cluster (clstr file):&nbsp;&nbsp;
                        <a class="w3-button w3-round-large w3-border" style="background-color:#d6efeb;font-size:16px" href="{% static ''%}/file-uploads-temp/{{task_id}}/shared/overlapped_shared_peptide_{{hla}}.rmdup.fa.clstr" role="button" target="_blank">
                            Download  <i class="fa fa-arrow-down"></i>
                        </a>
                    </h5>
                    <h5>Log File:&nbsp;&nbsp;
                        <a class="w3-button w3-round-large w3-border" style="background-color:#d6efeb;font-size:16px" href="{% static ''%}/file-uploads-temp/{{task_id}}/shared/find_overlapped.log" role="button" target="_blank">
                            Download  <i class="fa fa-arrow-down"></i>
                        </a>
                    </h5>
                </div>
    
    <!-- Shared Neoantigens Figure-->
    <hr>
    <a href="{% static ''%}file-uploads-temp/{{task_id}}/shared/overlapped_proportion.png" download="myimage"><img src="{% static ''%}file-uploads-temp/{{task_id}}/shared/overlapped_proportion_transparent.png" width="800"/></a>
    <p></p>
    <hr>
    <a href="{% static ''%}file-uploads-temp/{{task_id}}/shared/overlapped_number.png" download="myimage"><img src="{% static ''%}file-uploads-temp/{{task_id}}/shared/overlapped_number_transparent.png" width="800"/></a>
    <hr>

    <!-- Shared Neoantigens Table-->
            <div id="piechart_3d" style="width: 900px; height: 50px;"></div> 
            <span class="content_item non_wrapping"></span>
            <div id="DirectEditPreserve" class="wow fadeInUp databaseTable_holder 122860" style="width:92%;">
                <div id="DirectEditPreserve" class="databaseTable_heading">
                    <div id="DirectEditPreserve" class="databaseTable_title"><b>Shared Neoantigens</b></div>
                    <input id="DirectEditPreserve" class="databaseTable_search" type="text" width="200" placeholder="Search this table">
                </div>
                <div id="DirectEditPreserve" class="databaseTable">
                    <div id="DirectEditPreserve" class="databaseTable_import_wrap" style="display: block;">
                    </div>
                    <div id="DirectEditPreserve" class="databaseTable_UI_scrollLeft databaseTable_UI_button" style="display: none;"><!-- JS shows/hides by appending the .hidden class --></div>
                    <div id="DirectEditPreserve" class="databaseTable_UI_scrollRight databaseTable_UI_button" style="display: none;"><!-- JS shows/hides by appending the .hidden class --></div>
                </div>
            </div>
            <div id="piechart_3d" style="width: 900px; height: 300px;"></div>
        </div>
    </div>   
    
        
    
{% else %}   
    <div class="pipeline_result" id="failed_result">
        <div class="w3-main" style="margin-left:260px;margin-top:43px;">
          <header class="w3-container" style="padding-top:22px">
            <h4><b><img src="{% static 'vertical-timeline/img/glyphicons-30-notes-2.png' %}"> Overview</b></h4>
          </header>
          
          <div class="w3-row-padding w3-margin-bottom">
             <div class="w3-panel w3-border" style="width:90%;">
                <p></p>
               <p><b>Job Failed!</b></p>
               <p>The followings are details about your job.</p>
             </div>
          </div>
          <div class="w3-row-padding w3-margin-bottom" style="float:center">
            <h5>Information about your job:</h5>
            <table class="w3-table w3-striped w3-white" style="width:90%;">
                <tr>
                    <td width="30%">Job ID</td>
                    <td>{{task_id}}</td>
                </tr>
                <tr>
                    <td>Submission time</td>
                    <td>{{overview.submit_time}}</td>
                </tr>
                <tr>
                    <td>Start time</td>
                    <td>{{overview.start_time}}</td>
                </tr>
                <tr>
                    <td>End time</td>
                    <td>{{overview.end_time}}</td>
                </tr>
                <tr>
                    <td>Failed Step</td>
                    <td>{{failed_step}}</td>
                </tr>
                <tr>
                    <td>Download log file (JSON)</td>
                    {% if total_file %}
                        <td>                    
                            <a class="w3-button w3-round-large w3-border w3-tiny" style="background-color:#d6efeb;font-size:16px" href="{% static ''%}/file-uploads-temp/{{task_id}}/status_report.json" role="button" target="_blank">
                            Download  <i class="fa fa-arrow-down"></i>
                            </a>
                        </td>    
                    {% else %}
                        <td>Tar Failed</td>
                    {% endif %}
                </tr>
            </table>
          </div>

        </div>
    </div>

    <div class="w3-main" style="margin-top:43px;">
    <div class="w3-container w3-dark-grey w3-padding-32">
        <div class="w3-row">
          <p class="text-muted" style="margin-left:260px;">
                Developed by Bioinformatics and Biostatistics Core Lab, Center of Genomic Medicine, National Taiwan University.
          </p>
        </div>
    </div>
    </div>
{% endif %}
{% endblock content %}
{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.2.0/papaparse.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.2.0/papaparse.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/jquery/jquery.csv.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="../static/js/overlapped_csv_to_html_table.js"></script>
<script data-turbolinks-track="true" src="../static/js/jquery/jquery.fileupload.js"></script>

{% if success %}
<script>
$(document).ready(function () {
    $("#summary_result").show();
    /*
    $('table[id="kegg_table"]').DataTable({
        destroy: true,
        dom: 'lfrtBip',
        buttons: [
            'csv'
        ]
    } );*/
    var kegg_table = $('#kegg_table').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        dom: 'lfrtBip',
        buttons: [
            'csv'
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    } );
 
    // Order by the grouping
    $('#kegg_table').on( 'click', 'tr.group', function () {
        var currentOrder = kegg_table.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            kegg_table.order( [ 2, 'desc' ] ).draw();
        }
        else {
            kegg_table.order( [ 2, 'asc' ] ).draw();
        }
    } );
    var table = $('#example_molecular_function').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        dom: 'lfrtBip',
        buttons: [
            'csv'
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    } );
 
    // Order by the grouping
    $('#example_molecular_function tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            table.order( [ 2, 'desc' ] ).draw();
        }
        else {
            table.order( [ 2, 'asc' ] ).draw();
        }
    } );
    var table_bproc = $('#example_biological_process').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        dom: 'lfrtBip',
        buttons: [
            'csv'
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    } );
 
    // Order by the grouping
    $('#example_biological_process tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table_bproc.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            table_bproc.order( [ 2, 'desc' ] ).draw();
        }
        else {
            table_bproc.order( [ 2, 'asc' ] ).draw();
        }
    } );
    var table_ccomp = $('#example_cellular_component').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        dom: 'lfrtBip',
        buttons: [
            'csv'
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    } );
 
    // Order by the grouping
    $('#example_cellular_component tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table_ccomp.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            table_ccomp.order( [ 2, 'desc' ] ).draw();
        }
        else {
            table_ccomp.order( [ 2, 'asc' ] ).draw();
        }
    } );
    var slim_table = $('#example_slim_molecular_function').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        dom: 'lfrtBip',
        buttons: [
            'csv'
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    } );
 
    // Order by the grouping
    $('#example_slim_molecular_function tbody').on( 'click', 'tr.group', function () {
        var currentOrder = slim_table.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            slim_table.order( [ 2, 'desc' ] ).draw();
        }
        else {
            slim_table.order( [ 2, 'asc' ] ).draw();
        }
    } );
    var slim_table_bproc = $('#example_slim_biological_process').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        dom: 'lfrtBip',
        buttons: [
            'csv'
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    } );
 
    // Order by the grouping
    $('#example_slim_biological_process tbody').on( 'click', 'tr.group', function () {
        var currentOrder = slim_table_bproc.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            slim_table_bproc.order( [ 2, 'desc' ] ).draw();
        }
        else {
            slim_table_bproc.order( [ 2, 'asc' ] ).draw();
        }
    } );
    var slim_table_ccomp = $('#example_slim_cellular_component').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        dom: 'lfrtBip',
        buttons: [
            'csv'
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    } );
 
    // Order by the grouping
    $('#example_slim_cellular_component tbody').on( 'click', 'tr.group', function () {
        var currentOrder = slim_table_ccomp.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            slim_table_ccomp.order( [ 2, 'desc' ] ).draw();
        }
        else {
            slim_table_ccomp.order( [ 2, 'asc' ] ).draw();
        }
    } );

});
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");
// show result based on nav bar
function check_step(clicked_name)
{
    $(".pipeline_result").hide();
    $("#"+clicked_name).show();
    
}
// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>
<script>
var func_trace1 = {
  y: {{go_plot.molecular_function.0}},
  x: {{go_plot.molecular_function.1}},
  text: {{go_plot.molecular_function.2}},
  type: 'bar',
  name: 'Molecular Function',
  orientation:'h',
  
};

var func_trace2 = {
  y: {{go_plot.biological_process.0}},
  x: {{go_plot.biological_process.1}},
  text: {{go_plot.biological_process.2}},
  type: 'bar',
  name: 'Biological Process',
  orientation:'h',
  
};

var func_trace3 = {
  y: {{go_plot.cellular_component.0}},
  x: {{go_plot.cellular_component.1}},
  text: {{go_plot.cellular_component.2}},
  type: 'bar',
  name: 'Cellular Component',
  orientation:'h',
 
};

var func_data = [func_trace1, func_trace3, func_trace2];

var func_layout = {
  height: 650,
  font:{
    size:8,
  },
  legend:{
    traceorder:'reversed',
  },
  hovermode: 'closest',
  hoverlabel: {
    namelength: 0,
  },
  title: 'GO Term Frequency',
  xaxis: {
    tickangle: -45
  },

};

Plotly.newPlot('pathway_bar', func_data, func_layout);
</script>
<script>
//for a5 busco
var trace1 = {
  y: [{{busco_contig_single}}],
  name: 'single-copy(S)',
  type: 'bar'
};
var trace2 = {
  y: [{{busco_contig_duplicate}}],
  name: 'duplicated(D)',
  type: 'bar'
};

var data = [trace1, trace2];
var layout = {
  xaxis:{showticklabels: false},
  yaxis: {title: 'Percentage'},
  barmode: 'relative',
  title: 'Complete BUSCOs (C)'
};

Plotly.newPlot('myDiv', data, layout);
</script>
<script>
//for ragout busco
var scaffold_trace1 = {
  y: [{{busco_scaffold_single}}],
  name: 'single-copy(S)',
  type: 'bar'
};
var scaffold_trace2 = {
  y: [{{busco_scaffold_duplicate}}],
  name: 'duplicated(D)',
  type: 'bar'
};

var scaffold_data = [scaffold_trace1, scaffold_trace2];
var scaffold_layout = {
  xaxis:{showticklabels: false},
  yaxis: {title: 'Percentage'},
  barmode: 'relative',
  title: 'Complete BUSCOs (C)'
};

Plotly.newPlot('scaffold_myDiv', scaffold_data, scaffold_layout);
</script>
<script>
//for gene prediction busco
var pred_trace1 = {
  y: [{{busco_pred_single}}],
  name: 'single-copy(S)',
  type: 'bar'
};
var pred_trace2 = {
  y: [{{busco_pred_duplicate}}],
  name: 'duplicated(D)',
  type: 'bar'
};

var pred_data = [pred_trace1, pred_trace2];
var pred_layout = {
  xaxis:{showticklabels: false},
  yaxis: {title: 'Percentage'},
  barmode: 'relative',
  title: 'Complete BUSCOs (C)'
};

Plotly.newPlot('pred_myDiv', pred_data, pred_layout);
</script>
<script>
var blast = {
  x: ['>=95', '>=90', '>=80', '>=70','>=60','>=50'],
  y: {{coverage_perc}},
  mode: 'lines+markers',
  line:{
    color:'rgb(164, 194, 244)'
  },
  marker:{
    color:'rgb(164, 194, 244)'
  },
  name:'percentage'
};
var raw_blast= {
  x: ['>=95', '>=90', '>=80', '>=70','>=60','>=50'],
  y: {{coverage}},
  mode: 'lines+markers',
  line:{
    color:'rgb(234, 153, 153)'
  },
  marker:{
    color:'rgb(234, 153, 153)'
  },
  xaxis: 'x2',
  yaxis: 'y2',
  name:'raw number'
};
var blast_data = [ blast ,raw_blast];

var blast_layout = {
  title:'Coverage',
  xaxis: {
    title: 'Coverage(%)',
    showgrid: false,
    zeroline: false,
    domain: [0, 0.45]
  },
  yaxis: {
    title: 'Percentage (%) ',
    showline: false
  },
  yaxis2: {
    anchor: 'x2',
    title: 'Gene Number ',
    showline: false
  },
  xaxis2: {
    title: 'Coverage(%)',
    showgrid: false,
    zeroline: false,
    domain: [0.55, 1]
  }
};

Plotly.newPlot('blastDiv', blast_data, blast_layout);
//Plotly.newPlot('raw_blastDiv', raw_blast_data, raw_blast_layout);

</script>
<script type="text/javascript">
 google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{result}});

        var options = {
          title: 'Trimommatic Result',
          is3D: true,
          chartArea:{width:'50%',height:'75%'}
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
        
        var busco_contig_data=google.visualization.arrayToDataTable({{busco_contig_result}});
        var busco_contig_options = {
          title: 'BUSCOs (N:{{busco_contig_n}})',
          is3D: true,
          chartArea:{width:'50%',height:'75%'},
        };
        var busco_scaffold_data=google.visualization.arrayToDataTable({{busco_scaffold_result}});
        var busco_scaffold_options = {
          title: 'BUSCOs (N:{{busco_scaffold_n}})',
          is3D: true,
          chartArea:{width:'50%',height:'75%'},
        };
        var busco_pred_data=google.visualization.arrayToDataTable({{busco_pred_result}});
        var busco_pred_options = {
          title: 'BUSCOs (N:{{busco_pred_n}})',
          is3D: true,
          chartArea:{width:'50%',height:'75%'},
        };

        var busco_contig_chart = new google.visualization.PieChart(document.getElementById('busco_contig_piechart'));
        var busco_scaffold_chart = new google.visualization.PieChart(document.getElementById('busco_scaffold_piechart'));
        var busco_pred_chart = new google.visualization.PieChart(document.getElementById('busco_pred_piechart'));
        
       
        
        busco_contig_chart.draw(busco_contig_data, busco_contig_options);
        busco_scaffold_chart.draw(busco_scaffold_data, busco_scaffold_options);
        busco_pred_chart.draw(busco_pred_data, busco_pred_options);
        
        var bowtie_ref_data = google.visualization.arrayToDataTable({{bowtie_ref_result}});

        var bowtie_ref_options = {
          title: 'Bowtie2 Result (Reads={{bowtie_ref_total_reads}})',
          is3D: true,
          chartArea:{width:'50%',height:'75%'}
        };

        var bowtie_ref_chart = new google.visualization.PieChart(document.getElementById('bowtie_ref_piechart_3d'));
        bowtie_ref_chart.draw(bowtie_ref_data, bowtie_ref_options);
        
        
        
        $(".pipeline_result").hide();
        $("#summary_result").show();
        $("#myDiv").hide();
        $("#scaffold_myDiv").hide();
        $("#pred_myDiv").hide();
        google.visualization.events.addListener(busco_contig_chart, 'onmouseover', selectHandler);
        google.visualization.events.addListener(busco_scaffold_chart, 'onmouseover', scaffold_selectHandler);
        google.visualization.events.addListener(busco_pred_chart, 'onmouseover', pred_selectHandler);        
        function selectHandler(e) {
            var topping = busco_contig_data.getValue(e.row, 0);
            if(topping=="Complete(C)")
            {
                $("#myDiv").show();
            }
            else
            {
                $("#myDiv").hide();
            }
        };
        function scaffold_selectHandler(e) {
            var topping = busco_scaffold_data.getValue(e.row, 0);
            if(topping=="Complete(C)")
            {
                $("#scaffold_myDiv").show();
            }
            else
            {
                $("#scaffold_myDiv").hide();
            }
        };
        function pred_selectHandler(e) {
            var topping = busco_pred_data.getValue(e.row, 0);
            if(topping=="Complete(C)")
            {
                $("#pred_myDiv").show();
            }
            else
            {
                $("#pred_myDiv").hide();
            }
        };
        
        
      } 
/*$('piechart_3d').load(function(){
    chart.draw(data, options);
});    */
</script>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
//datatable tab
$(function(){
    // 預設顯示第一個 Tab
    var _showTab = 0;
    $('.abgne_tab').each(function(){
        // 目前的頁籤區塊
        var $tab = $(this);
 
        var $defaultLi = $('ul.tabs li', $tab).eq(_showTab).addClass('active');
        $($defaultLi.find('a').attr('href')).siblings().hide();
 
        // 當 li 頁籤被點擊時...
        // 若要改成滑鼠移到 li 頁籤就切換時, 把 click 改成 mouseover
        $('ul.tabs li', $tab).click(function() {
            // 找出 li 中的超連結 href(#id)
            var $this = $(this),
                _clickTab = $this.find('a').attr('href');
            // 把目前點擊到的 li 頁籤加上 .active
            // 並把兄弟元素中有 .active 的都移除 class
            $this.addClass('active').siblings('.active').removeClass('active');
            // 淡入相對應的內容並隱藏兄弟元素
            $(_clickTab).stop(false, true).fadeIn().siblings().hide();
 
            return false;
        }).find('a').focus(function(){
            this.blur();
        });
    });
});

$(document).ready( function () {
    $('#myTable').DataTable();
} );

</script>
{% endif %}
</body>
</html>
{% endblock script%}
   
    
