{% extends 'base.html' %}

{% block title %}Status{% endblock title %}
{% load static %}
{% block content %}
{% csrf_token %}
<link rel="stylesheet" type="text/css" href="{% static 'vertical-timeline/css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
</style>
<p align="center" style="white-space:nowrap;font-size:220%;color:#0C324C;"><b>Task Status</b></p>
{#    <h3 align="center">Your job number is {{task_id}}.</h3>#}


<!--
<p id="qc"></p>
<p id="denovo"></p>
<p id="ref"></p>
<p id="gene_pred"></p>
<p id="go"></p>
<p id="tree"></p>-->

<section id="cd-timeline" class="cd-container">
  <! Step0. input>
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-bb"><img src="{% static 'vertical-timeline/img/glyphicons-320-sort.png' %}" alt="Picture"></div>
    <!-- cd-timeline-img -->
    
    <div class="cd-timeline-content">
      <!--<h2>Quality Control</h2>-->
      <h2><img name="input_checked" src="{% static 'vertical-timeline/img/checked.png' %}" style="display:None"><img name="input_unchecked" src="{% static 'vertical-timeline/img/unchecked.png' %}">&nbsp;&nbsp;Data Preparation</h2>
      <p id="input"></p>
    <!-- cd-timeline-content --> 
    
    </div>
  <!-- cd-timeline-block -->

<! Step1. QC>
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-red"><img src="{% static 'vertical-timeline/img/glyphicons-28-search.png' %}" alt="Picture"></div>
    <!-- cd-timeline-img -->
    
    <div class="cd-timeline-content">
      <!--<h2>Quality Control</h2>-->
      <h2><img name="qc_checked" src="{% static 'vertical-timeline/img/checked.png' %}" style="display:None"><img name="qc_unchecked" src="{% static 'vertical-timeline/img/unchecked.png' %}">&nbsp;&nbsp;Quality Control</h2>
      <p id="qc"></p>
    <!-- cd-timeline-content --> 
    
    </div>
  <!-- cd-timeline-block -->

<! Step2. HLA typing>
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-orange"> <img src="{% static 'vertical-timeline/img/glyphicons-489-multiple-displays.png' %}" alt="Movie"> </div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2><img name="hla_checked" src="{% static 'vertical-timeline/img/checked.png' %}" style="display:None"><img name="hla_unchecked" src="{% static 'vertical-timeline/img/unchecked.png' %}">&nbsp;&nbsp;<i>HLA Genotyping</i></h2>
      <p id="hla"></p>
    <!-- cd-timeline-content -->
    </div>
  <!-- cd-timeline-block -->

<! Step3. Parsing Result>
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-green"> <img src="{% static 'vertical-timeline/img/glyphicons-320-sort.png' %}" alt="Picture"> </div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2><img name="result_checked" src="{% static 'vertical-timeline/img/checked.png' %}" style="display:None"><img name="result_unchecked" src="{% static 'vertical-timeline/img/unchecked.png' %}">&nbsp;&nbsp;Generating results</h2>
      <p id="result"></p>
    <!-- cd-timeline-content -->

    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</section>
<script type="text/javascript" src="{% static 'vertical-timeline/js/modernizr.js' %}"></script>
<script data-turbolinks-track="true" src="../static/js/jquery/jquery-1.11.1.min.js"></script>
<script data-turbolinks-track="true" src="../static/js/jquery/bootstrap.min.js"></script>
<script data-turbolinks-track="true" src="../static/js/jquery/bootstrap-select.min.js"></script>
<script data-turbolinks-track="true" src="../static/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<script data-turbolinks-track="true" src="../static/js/jquery/jquery.iframe-transport.js"></script>
<script data-turbolinks-track="true" src="../static/js/jquery/jquery.fileupload.js"></script>
<script data-turbolinks-track="true" src="../static/js/jquery/turbolinks.js"></script>
<script type="text/javascript">
function retrieve(){      
    $.ajax({
                type: 'GET',
                url: "./retrieve",
                dataType: "json",
                error: function () {
                    // do nothing
                },
                success: function (data) {
                    if((data['total_status']=="SUCCESSFUL")||(data['total_status']=="FAILED"))
                    {
                        //window.location.reload();
                        window.location.replace("./report");
                    };
                    $("#total_status").text("Total Status:"+data['total_status']);
                    $("#input").text(data['data_preparation_status']);
                    $("#qc").text(data['quality_check_status']);
                    $("#hla").text(data['hla_status']);
                    $("#result").text(data['hla_result_status']);
                    if(data['data_preparation_status']=="SUCCESSFUL")
                    {
                        $("img[name='input_unchecked']").css("display", "none");
                        $("img[name='input_checked']").css("display", "inline");
                        //$("img[name='input']").toggle();
                    
                    };
                    if(data['quality_check_status']=="SUCCESSFUL")
                    {
                        $("img[name='qc_unchecked']").css("display", "none");
                        $("img[name='qc_checked']").css("display", "inline");
                        //$("img[name='qc']").toggle();
                    
                    };
                    if(data['hla_status']=="SUCCESSFUL")
                    {
                        $("img[name='hla_unchecked']").css("display", "none");
                        $("img[name='hla_checked']").css("display", "inline");
                        //$("img[name='hla']").toggle();
                    
                    };
                     if(data['hla_result_status']=="SUCCESSFUL")
                    {
                        $("img[name='result_unchecked']").css("display", "none");
                        $("img[name='result_checked']").css("display", "inline");
                        //$("img[name='result']").toggle();
                    
                    };
                        
                }
            });
}
$(document).ready(function () {
   retrieve(); 
   setInterval(function(){retrieve();}, 60000);  //update every 60 sec
   // var $timeline_block = $('.cd-timeline-block');

   //  //hide timeline blocks which are outside the viewport
   //  $timeline_block.each(function(){
     
   //          $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('bounce-in');
        
    });
</script> 

{% endblock content %}

{% block scripts %}

{% endblock %}